{% extends 'base.html.twig' %}

{% block title %}{{ post.name }}{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('index') }}">OnlineShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index') }}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('shop') }}">Shop <span class="sr-only">(current)</span></a>
                </li>
                {% if app.user %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('create') }}">Create</a>
                    </li>
                {% endif %}
            </ul>
            {% if app.user %}
            <a style="margin-right: 5px; color: white;">Logged in as {{ app.user.username }}!</a><a href="{{ path('app_logout') }}"><button type="button" class="btn btn-outline-light" >Logout</button></a>
            {% else %}
                <a href="{{ path('login') }}"><button type="button" class="btn btn-outline-light" >Login</button></a>
            {% endif %}
        </div>
    </nav>

    <div class="container" style="margin-top: 25px;">

        <a href="{{ path('shop') }}"><input type="submit" class="btn btn-outline-secondary" value="Back to shop"></a>
        <hr/>
        <div class="jumbotron" style="background-color: white;">
            <div class="container">
                <div class="media">
                    <img src="{{ '/uploads/' ~ post.image}}" style="margin-right: 25px" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"/>
                    <div class="media-body">
                        <br/>
                        <h2>{{ post.name }}</h2>
                        <p class="lead text">{{ post.price }} €<span class="lead text-muted"> / piece</span></p>
                        <br/>
                        <a href="#cart"><input type="submit" class="btn btn-outline-success" value="Add to cart"></a>
                        <a href="#wishlist"><input type="submit" class="btn btn-outline-secondary" value="Add to Wishlist"></a>

                    </div>
                </div>
                {% if app.user %}
                    <hr class="my-4">
                    <a href="{{ path('delete', {id: post.id}) }}"><input type="submit" class="btn btn-danger btn-block" style="float:right;" value="Delete"></a>
                {% endif %}
            </div>
        </div>
        <h5 class="lead text-muted">Country:</h5>
        <p class="mt-0">{{ post.country }}</p>
        <h5 class="lead text-muted">Brand:</h5>
        <p class="mt-0">{{ post.brand }}</p>
        <h5 class="lead text-muted">Description:</h5>
        <p class="mt-0">{{ post.description}}</p>
    </div>
    {% block footer %}{% endblock %}
{% endblock %}
